*{
    padding:0;
    margin:0;
}

body{
    text-align: center;
    background-color: rgb(19, 196, 155);
}
.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-size: 50vh;

    

}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}

.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none ;
    box-shadow: 0 0 1rem rgb(50, 44, 44);
    font-size: 8vmin;
    color: brown;
    background-color:#e4dbba ;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(201, 89, 89);
    color: aliceblue;
}

#new-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color:#ffffc7;
    font-size:5vmin;
}

.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4 rem;
}

.hide{
    display: none;
}